<%= form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_effort, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_effort, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sprint_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :sprint_id, Sprint.all,:id, :title, {:prompt => 'Select Sprint'}%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :completed, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :completed, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
