<%= form_for @bug, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :story_id, :class => 'control-label' %>
    <div class="controls">
<%= f.collection_select :story_id, Story.all,:id, :name, {:prompt => 'Select Story'}%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :bugarea_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :bugarea_id, Bugarea.all,:id, :name, {:prompt => 'Select Bug Area'}%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bugs_path, :class => 'btn' %>
  </div>
<% end %>
